* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
button {
  outline: none;
  background: none;
}
button:hover {
  cursor: pointer;
}
.game {
  position: relative;
  width: 900px;
  height: 500px;
  background: url("img/background.png") center/cover;
  margin: auto;
  border-radius: 20px;
}
.game__header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__button {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: beige;
  color: brown;
  border-radius: 10px;
  transform: translateX(100px);
  transition: transform 900ms ease-in-out;
}
.game__timer {
  margin: 0 20px;
  font-size: 32px;
  border: 2px solid black;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  background-color: bisque;
  visibility: hidden;
  transition: all 1s ease-in-out;
  transition-delay: 300ms;
}
.game__score {
  font-size: 32px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  background-color: pink;
  color: white;
  visibility: hidden;
}
.game__field {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
}
.popUp {
  width: 420px;
  height: 160px;
  background-color: rgba(211, 15, 15, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  transform: translateY(-200px);
}
.popUp__refresh {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: beige;
  color: brown;
  border-radius: 10px;
}
.popUp__message {
  font-size: 54px;
  color: white;
}
.popUp-hide {
  visibility: hidden;
}
@keyframes tombAni {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}
@keyframes skullAni {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  25% {
    transform: translateY(-10px);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px) translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px) translateX(50px);
    opacity: 0;
  }
}

/* .tomb {
  animation: tombAni 0.5s ease-in-out forwards;
}
.skull {
  animation: skullAni 3s ease-in-out infinite;
} */
.tomb:hover,
.skull:hover {
  cursor: pointer;
  transform: scale(1.1);
}
